- @gfm_form = Feature.enabled?(:feature_flags_issue_links, @project)

- add_to_breadcrumbs s_('FeatureFlags|Feature Flags'), project_feature_flags_path(@project)
- breadcrumb_title @feature_flag.name
- page_title s_('FeatureFlags|Edit Feature Flag')

#js-edit-feature-flag{ data: { endpoint: project_feature_flag_path(@project, @feature_flag),
                      project_id: @project.id,
                      feature_flags_path: project_feature_flags_path(@project),
                      environments_endpoint: search_project_environments_path(@project, format: :json),
                      feature_flag_issues_endpoint: Feature.enabled?(:feature_flags_issue_links, @project) ? project_feature_flag_issues_path(@project, @feature_flag) : ''} }
